body {
    width: 75%;
    margin: 0px auto;
    display: flex; 
    min-height: 100vh;
    flex-direction: column;
    
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: purple;
    background-color: aliceblue
}

header {
    height: 100px;
}

header > nav {
    height: 100%;
}

main {
    flex: 1 0 auto; 
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: 300;
}




