.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

div {
    display: block;
}

body {
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: purple;
    background-color: aliceblue
}
